.hap
{
    width: 40%;
    height: 30rem;
    text-align: center;
    margin: 30px; 
    
}

ul::-webkit-scrollbar {
    display: none;
}

ul{
    padding: 1rem;
    height: 25rem;
    border: 1px solid;
    list-style-type: none;
    text-align: left;
    font-size: x-large;
   overflow: auto;
   list-style: none;
   -ms-overflow-style:  none ;
   scrollbar-width: none;
}
.NewsEvent li{

    /* padding: 0.4em; */
    line-height: 1.25em;
    border-bottom: solid;
    border-width: 2px ;
    border-color: black;
    padding: 1rem;
}